body {
  font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;
  color: #a7a599;
  background-image: url(../img/test.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
.login {
  position: relative;
  margin: 100px auto;
  width: 370px;
  height: 315px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  z-index: 99;
}
.login h1 {
  line-height: 55px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.animate {
  display: inline-block;
  width: calc(10px * var(--count));
  height: calc(10px * var(--count));
  border-radius: calc(5px * var(--count));
  border: 2px solid #fff5;
  position: absolute;
  top: calc(6% * var(--count));
  left: calc(10% * var(--count));
  box-shadow: 0 2px 6px #0002, 0 4px 16px #0004;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-delay: calc(0.2s * var(--count));
  animation-duration: calc(5s * var(--count));
  animation-fill-mode: both;
}
.animate:nth-child(1) {
  background-color: #246fe9;
}
.animate:nth-child(2) {
  background-color: #4a5864;
}
.animate:nth-child(3) {
  background-color: #cea32f;
}
.animate:nth-child(4) {
  background-color: #183594;
}
@keyframes move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25%,
  75% {
    transform: translate(300%, 400%);
  }
  30%,
  60%,
  90% {
    transform: translate(100%, 300%);
  }
  20%,
  40%,
  80% {
    transform: translate(300%, 200%);
  }
  10%,
  50% {
    transform: translate(200%, 10%);
  }
}
.form {
  width: 100%;
}
.form .field {
  position: relative;
  margin: 0 50px;
}
::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Open Sans";
}
.form input[type="text"],
input[type="password"] {
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px 10px 55px;
  position: relative;
  width: 200px;
  height: 24px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  transition: color 0.3s ease-out;
}
.form input[type="text"] {
  margin-bottom: 15px;
}
.form .field i {
  font-size: 18px;
  left: 0px;
  top: 0px;
  position: absolute;
  height: 44px;
  width: 44px;
  color: #f7f3eb;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 44px;
  transition: all 0.3s ease-out;
  pointer-events: none;
}
.form input[type="submit"] {
  width: 270px;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 12px 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border: none;
  margin: 25px 50px;
  cursor: pointer;
}
