* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #d96aa7;
  --secondary-color: #422c73;
  --complimentary-color: #ffffff;
  --contrast-color: #f2e527;
  --light-color: #d2a9d9;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

input#menu {
  display: none;
}

.icon {
  cursor: pointer;
  display: block;
  height: 24px;
  padding: 16px;
  width: 24px;
}

label.icon {
  position: fixed;
  z-index: 200;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
  background: #292c2e;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 20px;
}

.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
  background: #181b1a;
}

.icon .menu {
  left: 18px;
  top: 27px;
}

.icon .menu::before {
  top: -6px;
}

.icon .menu::after {
  top: 6px;
}

#menu:checked + .icon .menu {
  background: transparent;
}

#menu:checked + .icon .menu::before {
  transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
  transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
  top: 0;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;
}

.subMenu {
  overflow: hidden;
  transition: max-height 0.7s;
  max-height: 0;
}
.subMenu a:before {
  content: "";
  opacity: 0;
  transition: opacity 0.3s;
}
.subMenu a:hover:before {
  content: "";
  opacity: 1;
}
.subMenu a:after {
  content: "";
  opacity: 0;
  transition: opacity 0.3s;
}
.subMenu a:hover:after {
  content: "";
  opacity: 1;
}
.subMenu a:hover {
  transition: all 0.3s;
}

.item:target .subMenu {
  background: rgba(160, 210, 243, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  max-height: 10em;
}
.item:target .subMenu i {
  color: #181b1a;
}

nav {
  background: rgba(160, 210, 243, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  height: 100vh;
  padding-top: 60px;
  position: fixed;
  transition: width ease 0.6s;
  width: 60px;
  z-index: 100;

  overflow: hidden;
}

.opciones {
  position: relative;
  display: flex;
  flex-direction: row;
}

.opciones li {
  list-style: none;
  margin: 10px 10px 10px 10px;
}

.opciones li a {
  text-decoration: none;
  color: #252525;
}
.opciones li a:hover {
  border-bottom: 2px solid #a0d2f3;
}

#menu:checked ~ nav {
  width: 200px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  cursor: pointer;
  display: block;
  line-height: 60px;
  padding-left: 16px;
  white-space: nowrap;
}
nav li:hover {
  background: #ffffff;
  color: #181b1a;
}
nav a:hover {
  color: #181b1a;
}
nav i:hover {
  color: #181b1a;
}
nav i {
  color: #292c2e;
  margin-right: 24px;
  vertical-align: text-bottom;
}
nav a {
  color: #0f0205;
  text-decoration: none;
  text-align: center;
}

.container {
  background-image: url(../img/working.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 100vh;
}

section {
  position: absolute;
  margin: 0 auto;
  top: 0;
  height: 10vh;
  padding: 0px 30px 300px 100px;
  opacity: 0;
  transition: all ease-in 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h1 {
  color: rgb(172, 33, 33);
  font-size: 50px;
  text-transform: uppercase;
  opacity: 0;
}
section img {
  width: 40%;
  margin: 200px 0px 0px 0px;
}
section p {
  margin: 10px 0px 0px 0px;
}
section:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
section:target h1 {
  opacity: 0;
  animation: 2s fadeIn forwards 0.5s;
}

#first {
  background: var(--complimentary-color);
}
#second {
  background: var(--complimentary-color);
}
#third {
  background: var(--complimentary-color);
}
#fourth {
  background: var(--complimentary-color);
}
#five {
  background: var(--complimentary-color);
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.btn {
  background-color: #a0d2f3;
  padding: 20px 20px 20px 20px;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
}

table {
  text-align: center;
  background: rgb(0, 0, 0);
}

table tr {
  background: rgb(255, 255, 255);
}
table td,
caption {
  padding: 10px 10px 10px 10px;
  font-size: 1.2rem;
}

.headTable {
  background-color: #a0d2f3;
}

.aceptado {
  background-color: rgb(18, 168, 31);
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}

.noaceptado {
  background-color: rgb(204, 56, 30);
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}
.revision {
  background-color: rgb(155, 150, 150);
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}

/* ANIMACIONES PARA LOS BOTONES DE DESCARGAR */
button {
  width: 150px;
  height: 50px;
  font-size: 0.7rem;
  background: none;
  border: 4px solid #ee8139;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms;
}

span,
svg {
  position: absolute;
  color: #002651;
  fill: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

button:focus {
  outline: none;
  border: 2px solid #1e2a78;
  width: 50px;
  border-left: 4px solid #1e2a78;
  border-bottom: 4px solid #1e2a78;
  animation: spin 2s 500ms forwards;
}

button:focus span {
  color: transparent;
}

button:focus svg {
  animation: check 500ms 2300ms forwards;
}

@keyframes spin {
  80% {
    border: 4px solid transparent;
    border-left: 4px solid #303a52;
  }
  100% {
    transform: rotate(1080deg);
    border: 4px solid #303a52;
  }
}

@keyframes check {
  to {
    fill: #17b978;
  }
}

@keyframes circle {
  to {
    border: 4px solid #303a52;
    color: #ee8139;
  }
}

.div2 {
  display: flex;
  flex-wrap: wrap;
}

.div2 div {
  margin: 10px 10px 10px 10px;
}
